/* General body styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #212631; /* Set background to white */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  min-height: 100vh;
  overflow-y: auto;
  color: #000000;
}

/* Container styles */
.container {
  flex-grow: 1;
  width: 60vw; /* Set relative width */
  background: #323a49; /* Set background to white */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0; /* Add margin to separate from header and footer */
}

h1, h2 {
  text-align: center;
  color: #000000;
}

h1 {
  font-size: 2.2vw;
}

h2 {
  font-size: 1.7vw;
}

/* Form styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  padding: 10px;
  border: 1px solid #aca1a1;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(173, 167, 167); /* Set input background to white */
  color: #000000; /* Set text color to black */
}

input[type="month"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Make the icon black */
  opacity: 1;
  cursor: pointer; /* Ensures usability */
}

button {
  width: 100%;
  padding: 12px;
  background: #5856d6;
  color: white;
  font-size: 18px;
  border: none ;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #393779;
}

#result {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-top: 20px;
}

.error-input {
  border: 2px solid red;
  background-color: #ffe6e6;
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
